.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.site-header {
  width: 100%;
}

.site-title {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  display: inline-block;
  background-color: darkblue;
  color: white;
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
